@page
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@inject IStringLocalizer<IndexModel> localizer
@inject IHtmlLocalizer<IndexModel> htmlLocalizer

@model com.initiativec.webpages.Pages.VerifyModel
@functions {
    public string GetAntiforgeryToken()
    {
        var tokens = Antiforgery.GetAndStoreTokens(HttpContext);
        return tokens.RequestToken;
    }
}

<div>
    <article class="Hero">
        <section>
            <h1 class="WordWrapper" id="tituloDinamico">
                
            </h1>
            <p id="paragrafoDinamico" style="font-size: 2.1rem; font-weight: 300;"></p>
        </section>
       

        <script>

            

            (function () {
                var token = localStorage.getItem('WalletAddress');

                if (token) {
                    fetch('/ValidarAcesso', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': '@GetAntiforgeryToken()'
                        },
                        body: JSON.stringify({ token: token })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.acessoPermitido) {
                                window.location.href = '/Dashboard';
                            } 
                            else {
                                if (data.details == "NaoAprovado")
                                {
                                    var textoH1 = "@Html.Raw(localizer["verify.NaoAprovado.h1"])";
                                    var textoP = "@Html.Raw(localizer["verify.NaoAprovado.p"])";
                                    $('#tituloDinamico').text(textoH1);
                                    $('#paragrafoDinamico').text(textoP);
                                }
                                else if (data.details == "SemConvite") {

                                    var textoH1 = "@Html.Raw(localizer["verify.SemConvite.h1"])";
                                    var textoP = "@Html.Raw(localizer["verify.SemConvite.p"])";

                                    $('#tituloDinamico').text(textoH1);
                                    $('#paragrafoDinamico').text(textoP);
                                }
                                
                            }
                        })
                        .catch(error => {
                            console.error('Erro na validação:', error);
                            $('#tituloDinamico').text("ERROR");
                            $('#paragrafoDinamico').text("OOPS!");
                        });
                } else {

                    var textoH1 = "@Html.Raw(localizer["verify.NaoLogado.h1"])";
                    var textoP = "@Html.Raw(localizer["verify.NaoLogado.p"])";

                    $('#tituloDinamico').text(textoH1);
                    $('#paragrafoDinamico').text(textoP);
                }
            })();
        </script>

    </article>
</div>
